
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0px;
}

body{
    background-color: rgba(0, 0, 0, 0.84);
    /* position: absolute; */
}


.top{
    position: sticky;
    top:0;
    background-color: black;
    z-index: 100;
}
.border-nav{
    position: sticky;
    top:54.5px;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 0px;
}

li{
    margin: 5px;
    padding: 5px;
}

.nav-items{
    display: flex;
    cursor: pointer;
    color: white;
}

.nav-items li:hover{
    background-color: rgb(122, 116, 116);
}

.nav-items li{
    transition: background-color 0.6s ;
}

.logo{
    font-size: 23px;
    font-weight: bolder;
    color: white;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;

}

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.work{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.slides{
    width: 40vw;
    height: 60vh;
    padding: 10px;
    border-color: black;
    color: white;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.slides-box{
    width: 40vw;
    padding: 10px;
    text-align: center;
}

.slide{
    width: 40vw;
    height: 60vh;
    text-align: center;
    
    margin: 10px;

}

.my-work{
    /* margin: 10px; */
    font-size: 40px;
    font-weight: bolder;
    color: white;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}
.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: absolute; */
    position: relative;
    /* position: fixed; */
    /* margin: 10px; */

}
.my-skills{
    font-size: 40px;
    font-weight: bolder;
    color: white;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

.about-content{
    width: 60vh ;
    display: flex;
    height: 40vh;
    padding: 10px;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  color: white;
}

#contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}

.about-me{
    font-size: 40px;
    font-weight: bolder;
    color: white;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

.about:hover{
    background-color: rgba(114, 108, 108, 0.3);
}
.about{
    transition: background-color 0.5s;
}

.skills:hover{
    background-color: rgba(114, 108, 108, 0.3);
}
.skills{
    transition: background-color 0.5s;
}


.contact-me{
    font-size: 20px;
    color: white;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

.contact-content{
    width: 60vh;
    height: 15vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.border{
    width: 98.5vw;
    border-width: 2px;
    border-color: white;
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.work:hover{
    background-color: rgba(114, 108, 108, 0.3);
}
.work{
    transition: background-color 0.5s;
}
.profile-image{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.profile-image div{
    font-size: larger;
}

.por{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.por-list{
    display: flex;
    flex-direction: column;
    list-style: disc;
    text-align: left;
}

.content{
    display: grid;
    align-items: center;
    height: 60vh;
}

.skill-name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    align-items: center;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    align-items: center;
}